.modal-wrapper {
    position: fixed;
    top: -300px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.modalContent {
    background-color: white;
    width: 60%;
    transform: translateY(100%);
}
